@model IEnumerable<MvcCoreHospitalesBackFront.Models.Hospital>

@{
    ViewData["Title"] = "HospitalesBack";
}

<h1>Api Hospitales Back</h1>

<table class="table table-bordered table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camas)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camas)
            </td>
        </tr>
}
    </tbody>
</table>
